In [22]:
# two list
A = [1, 2,3, 4, 5, 6]
B = [13, 21, 34]
c = A.extend(B)
print(c)
#prints none

None

In [12]:
#how to create an identity matrix in python is in this format:
import numpy as np
identity = np.array([1,0,0])
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [13]:
import pandas as pd
fuel_ferc = pd.read_csv('fuel_ferc1.csv')
fuel_ferc

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [14]:

fuel_ferc.groupby('fuel_cost_per_unit_burned').first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_cost_per_unit_burned,,,,,,,,,,
-276.080,f1_fuel_2000_12_194_3_3,194,2000,nelson dewey unit 2,waste,ton,39.0,0.015500,-174.670,-8.906
-174.670,f1_fuel_2000_12_194_3_6,194,2000,nelson dewey u 1&2,waste,ton,116.0,0.015500,-174.670,-5.635
-123.310,f1_fuel_2000_12_194_2_15,194,2000,nelson dewey unit 1,waste,ton,77.0,0.015500,-174.670,-3.978
-119.040,f1_fuel_2003_12_281_1_4,281,2003,sixth street (cont),other,ton,1159.0,0.012731,-118.340,-5.750
-85.760,f1_fuel_1995_12_194_5_9,194,1995,rock river unit 1,waste,ton,6072.0,0.013457,-85.640,-3.186
...,...,...,...,...,...,...,...,...,...,...
65137.588,f1_fuel_2012_12_7_7_13,7,2012,palo verde 2,nuclear,kgU,465.0,0.066706,2958.417,0.976
69785.215,f1_fuel_2011_12_7_7_13,7,2011,palo verde 2,nuclear,kgU,467.0,0.066704,2834.457,1.046
80459.000,f1_fuel_2014_12_177_2_7,177,2014,howard bend c.t.,oil,bbl,76.0,5.984286,0.000,13.445
83538.000,f1_fuel_2011_12_132_1_2,132,2011,solway,oil,bbl,150.0,5.880000,137.172,14.207
139358.000,f1_fuel_2014_12_147_0_2,147,2014,san juan,oil,bbl,49418.0,6.172572,136410.000,22.577

In [15]:
#standard deviation and 75 percentile of the measure of ('fuel_mmbtu_per_unit')
fuel_ferc['fuel_mmbtu_per_unit'].describe()
#therefore, it is 10.60, 17.00

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [16]:
fuel_ferc.kurt()
#therefore, it is 651.37

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [17]:
fuel_ferc.skew()
#and 15.85

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [19]:
#check for missing values
fuel_ferc.isnull().sum()
#therefore, fuel_unit has 180 missing values

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [20]:
fuel_ferc.groupby('report_year')['report_year'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64